.jumbotron {
  background-image: url("../images/bar.jpg");
  background-size: cover;
  color: white;
  font-weight: bolder;
}

.guess {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}